@charset "UTF-8";

label { 
    color: rgb(0, 0, 255);
    font-weight: bold;
}

h1 {
    color:dimgray 
}

li {
	color: rgb(0, 0, 255);
    font-weight: bold;
}
   
p {
	color: rgb(0, 0, 255);
    font-weight: bold;
}
	
    
